.busuanzi_page_pv {
  font-size: 0.8em;
  color: #808080;
  text-align: right;
}
@media m-mobile {
  .busuanzi_page_pv {
    display: none;
  }
}
@media m-pad {
  .busuanzi_page_pv {
    display: none;
  }
}
