<div class="cloudpoolmag">
    <div id="magazine-banner" >
	  <img src="/images/cloudpoolmag.png" alt="cloudpoolmag">
	</div>
    <main class="app-body">
      <div id="contents">
        <h3>2018.I</h3>
        <ul>
          <li><a href="/cloudpoolmag/cloudpool01/">网刊01</a></li>
        </ul>
      </div>
    </main>
</div>



