<div class="cloudpoolmag">
    <div id="magazine-banner" >
    <img src="/images/cloudpool01.png" alt="cloudpool01">
    </div>
    <main class="app-body">
    <div id="contents">
      <h3>你来到了什么地方</h3>
      <ul>
        <li><a href="/关于/为什么我们要做浊池/">为什么我们要做浊池</a></li>
        <li><a href="/关于/为什么我们喜欢一个不存在的网站/">为什么我们喜欢一个不存在的网站</a></li>
      </ul>

      <h3>问题小说</h3>
      <ul>
        <li><a href="/写/浊故事/云树/">老物：云树</a>　@StʌrunneR</li>
        <li><a href="/写/浊故事/一篇最近写的小说/">老参赛作品：答案在风中飘</a>　@StʌrunneR</li>
        <li><a href="/写/浊故事/非语文类小说三部曲/">非语文类小说三部曲</a>　@StʌrunneR</li>
        <li><a href="/写/浊故事/5-20创新作文大赛作品/">5-20创新作文大赛作品（然而没得到奖）</a>　@StʌrunneR</li>
        <li><a href="/写/浊故事/山远水长/">山远水长</a>　@两京</li>
        <li><a href="/写/浊故事/高层建筑/">高层建筑</a>　@Dark.∞</li>
        <li><a href="http://595189877.lofter.com/post/46413b_10b63d37">【安雷】（galgame向文字游戏）我很清楚自己不过是个骗子 Ⅰ</a><a href="http://595189877.lofter.com/post/46413b_10b9f935"> Ⅱ-1 </a><a href="http://595189877.lofter.com/post/46413b_10bc8f79"> Ⅱ-2 </a><a href="http://595189877.lofter.com/post/46413b_10c6b437"> Ⅲ</a>　@Don't close</li>
      </ul>

      <h3>诗诗诗</h3>
      <ul>
        <li><a href="/写/浊诗/十卯诗选/">十卯诗选</a>　@十卯</li>
        <li><a href="/写/浊诗/秋兴八首/">秋兴八首</a>　@Ghost</li>
        <li><a href="/写/浊诗/不喜欢很正的东西-再见/">不喜欢很正的东西//再见</a> & <a href="/写/浊诗/我们哼哧哼哧爬到山顶就是为了看看垃圾/">我们哼哧哼哧爬到山顶就是为了看看垃圾</a> & <a href="/写/浊诗/每天只有一小时/">每天只有一小时</a>
        & <a href="/写/浊诗/等雷/">等雷</a> & <a href="/写/浊诗/太阳云/">太阳云 </a> & <a href="/写/浊诗/06/">06</a> & <a href="/写/浊诗/07/">07</a>　@StʌrunneR</li>
        <li><a href="/写/浊诗/曾经我坏事做尽 等两首/">曾经我坏事做尽 等两首</a>　@乡琳</li>
      </ul>

      <h3>翻译</h3>
      <ul>
        <li><a href="/写/浊故事/《SECOND LIFE》翻译 By 缀理/">《SECOND LIFE》翻译 By 缀理</a>　@缀理</li>
      </ul>

      <h3>垃圾们</h3>
      <ul>
        <li><a href="/写/浊shi/标学校征文作品：叩问青春（就是写信）/">学校征文作品：叩问青春（就是写信）</a>　@StʌrunneR</li>
        <li><a href="/写/浊shi/6.12超市诗/">超市诗 1</a><a href="/写/浊shi/6.24超市诗/"> & 2</a><a href="/写/浊shi/7.1超市诗/"> & 3</a><a href="/写/浊shi/10.2超市诗/"> & 4</a>　@StʌrunneR</li>
        <li><a href="/写/浊shi/晚自习打蚊子/">晚自习打蚊子</a>　@StʌrunneR</li>
        <li><a href="/写/浊shi/儿童节真快乐啦啦啦啦啦啦/">儿童节真快乐啦啦啦啦啦啦</a>　@StʌrunneR</li>
        <li><a href="/写/浊shi/浊池杯创新诗文大赛参赛作品/">浊池杯创新诗文大赛参赛作品</a>　@StʌrunneR</li>
        <li><a href="/写/浊喳喳/令人难过的事情1/">令人难过的事情1</a> & <a href="/写/浊喳喳/令人难过的事情2/">2</a>　@StʌrunneR</li>
      </ul>

      <h3>杂项</h3>
      <ul>
        <li><a href="/写/浊记/长沙的四季/"> 长沙的四季 </a>　@Dark.∞</li>
        <li><a href="/写/浊行/我在考试前去了桂林/"> 我在考试前去了桂林 </a>　@StʌrunneR</li>
      </ul>

      <h3>每日一句</h3>
      <ul>
        <li><a href="/写/浊喳喳/每日一句2017/">每日一句 2017</a>　@StʌrunneR</li>
      </ul>

      <h3>安利</h3>
      <ul>
        <li><a href="/写/浊喳喳/安利一点东西/"> 安利一点东西 </a>　@StʌrunneR</li> 
      </ul>

      <h3>关于物理（也许）</h3>
      <ul>
        <li><a href="/学/浊物理/关于物理的文章01/">关于物理的文章01</a>　@Rev.</li>
        <li><a href="/学/浊物理/关于物理的文章02/"> 关于物理的文章02 </a>  @Rev.</li>
        <li><a href="/学/浊物理/奥卡姆上帝/"> 奥卡姆上帝 </a>  @Rev.</li>
      </ul>
    </div>
    </main>
</div>



