<% categories.each(function(category) { %>
  <a href="<%- url_for(config.root + config.category_dir) %>#<%= category.name %>" >
    <span class="category-code"><%= category.name %></span>
  </a>
<% }) %>